/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --heading-text-color: #db00ff;
  --title-text-color: #000028;
  --title-bg-color: #ff0070;
  --text-shadow-color: #ff0070;
  --link-shadow-color: #ff0070;
  --button-hover-color: 255, 0, 112;
  --bg-img: url(../images/cover-image-dark.png);
  --bg-color: #000026;
}

.page.theme_dark .rec {
  display: flex;
}
